div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: example 10s linear 0s infinite alternate;
  }
  
  @keyframes example {
    from {
      width: 0;
    }
    to {
      width: 1000px;
    }
  }